.productCard {
  width: 30%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
  min-width: 290px;
  border-radius: 5px;
}
.imagePlace {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(173, 156, 156);
  color: antiquewhite;
}
.productInformation {
  padding: 25px;
}
h3 {
  margin-bottom: 20px;
}
p {
  margin-bottom: 20px;
}

.buyButton {
  width: 100%;
}
