.cartPageBlock {
  width: 100%;
  display: flex;
}
.itemsBlock {
  width: 60%;
  margin-right: 5%;
}

.formBlock {
  width: 35%;
}
.TotalPrice {
  font-size: 25px;
  text-decoration: underline;
}
.clearCartButton {
  margin-top: 20px;
  width: 100%;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}
